@media (max-width: 1200px) {

  * {
    box-sizing:border-box;
  }

  body{
    -webkit-text-size-adjust: 100%;
  }
  
  
  
  .box1 {
    /* background-color:red; */
    width:100%;
    height:500px;
    background-image: url(file:///Users/shunki/Desktop/MyPortforio/ホームページ写真/01.jpg);
    /* background-image: url('./01.JPG'); */
    background-size:cover;
    color:white;
    text-align:center;
  }
  
  .box1 h1 {
    padding-top:150px;
    font-size:100px;
  }
  
  header {
    background-color:#800000;
    width:100%;
    height:60px;
  }
  
  ul {
    width:2000px;
  }
  
  li {
    float:left;
    list-style:none;
    padding:20px 45px;
    font-size:15px;
    color:white;
  }
  
  .box2 {
    /* background-color:pink; */
    width:100%;
    height:1900px;
    text-align:center;
  }
  
  .box2 h2 {
    font-size:70px;
    padding-top:100px;
    padding-bottom:10px;
    margin:0px 200px;
    border-bottom:2px solid black;
  }
  
  .box2 p {
    font-size:40px;  
    padding-top:40px;
    padding-bottom:30px;
    margin:0px 10px;
    line-height:80px;
  }
  
  .image-left {
    width:100%;
    height:420px;
    /* background-color:lawngreen; */
  }
  
  .image-left img {
    width:720px;
    height:405px;
  }
  
  .image-right {
    width:100%;
    height:420px;
    /* background-color:black; */
  }
  
  .image-right img {
    width:720px;
    height:405px;
  }
  
  .box3 {
    /* background-color:blue; */
    width:100%;
    height:1650px;
    text-align:center;
  }
  
  .box3 h2 {
    font-size:70px;
    padding-top:100px;
    padding-bottom:10px;
    margin:0px 170px;
    border-bottom:2px solid black;
  }

  .box3 p {
    font-size:35px;  
  }


  .member {
    float:left;
    padding:30px 28px;
    width:50%;
  }
  
  .member img {
    position:relative;
    width:350px;
    height:350px;
  }
  
  .member .name {
    position:absolute;
    top:360px;
    left:200px;
  }
  
  .box3 .box3-text {
    font-size:40px;  
    padding-top:60px;
    padding-bottom:30px;
    line-height:80px;
  }

  
  .box4 {
    /* background-color:red; */
    width:100%;
    height:1300px;
    text-align:center;
  }
  
  .box4 h2 {
    font-size:80px;
    padding-top:100px;
    padding-bottom:10px;
    margin:0px 110px;
    border-bottom:2px solid black;
  }

  
  .box4 p {
    font-size:40px;  
    padding-top:40px;
    padding-bottom:10px;
    line-height:80px;
  }

  
  .box4 img {
    width:300px;
    height:300px;
  }
  
  footer {
    background-color:#ffa500;
    width:100%;
    height:700px;
  }
  
  footer img {
    float:left;
    margin:20px 30px;
    width:100px;
    height:100px;
  }
  
  .info p {
    margin:2px 15px;
    font-size:40px;
  }
  
  .info .name {
    font-size:80px;
    margin:0px 20px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  }
  