@media (max-width: 1200px) {

  * {
    box-sizing:border-box;
  }

  /* body{
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  } */
  
  
  
  .box1 {
    background-color:white;
    width:100%;
    height:500px;
    /* background-image: url('ホームページ写真/01.PNG'); */
    background-image: url('./01.JPG');
    background-size:cover;
    color:white;
    text-align:center;
    position:relative;
  }
  
  .box1 h1 {
    padding-top:150px;
    font-size:100px;
  }

  /* ここからメニュー */

  .bar {
    width:150px;
    height:120px;
    top:20px;
    left:810px;
    position:absolute;
    position:fixed;
    display:block;
    z-index:12;
    opacity:0.9;
  }

  .menu {
    background-color:#ffa500;
    width:480px;
    height:750px;
    top:15px;
    left:483px;
    position:absolute;
    border:2px solid black;
    opacity:0.9;
    position:fixed;
    z-index:15;
    display:none;
    border-radius:10px;
  }


  
  .menu li {
    list-style:none;
    padding:20px 45px;
    font-size:40px;
    color:black;
  }

  .batsu {
    width:120px;
    height:120px;
    top:10px;
    left:330px;
    position:absolute;
  }



  /* ここまでメニュー */
  
  header {
    background-color:#800000;
    width:100%;
    height:60px;
    /* display:none; */
  }
  
  header ul {
    width:2000px;
    display:none;    
  }
  
  header li {
    float:left;
    list-style:none;
    padding:20px 45px;
    font-size:15px;
    color:white;
    display:none;
  }

  #shadow {
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
  }




  .box2 {
    /* background-color:pink; */
    background-color:#ffebcd;
    width:100%;
    height:1900px;
    text-align:center;
  }
  
  .box2 h2 {
    font-size:70px;
    padding-top:100px;
    padding-bottom:10px;
    margin:0px 200px;
    border-bottom:2px solid black;
  }
  
  .box2 p {
    font-size:40px;  
    padding-top:40px;
    padding-bottom:30px;
    margin:0px 10px;
    line-height:80px;
  }
  
  .image-left {
    width:100%;
    height:420px;
    /* background-color:lawngreen; */
    background-color:#ffebcd;
  }
  
  .image-left img {
    width:720px;
    height:405px;
  }
  
  .image-right {
    width:100%;
    height:420px;
    /* background-color:black; */
    background-color:#ffebcd;
  }
  
  .image-right img {
    width:720px;
    height:405px;
  }
  
  .box3 {
    /* background-color:blue; */
    background-color:#ffebcd;
    width:100%;
    height:1650px;
    text-align:center;
  }
  
  .box3 h2 {
    font-size:70px;
    padding-top:100px;
    padding-bottom:10px;
    margin:0px 170px;
    border-bottom:2px solid black;
  }

  .box3 p {
    font-size:35px;  
  }


  .member {
    float:left;
    padding:30px 28px;
    width:50%;
  }
  
  .member img {
    position:relative;
    width:350px;
    height:350px;
  }
  
  .member .name {
    position:absolute;
    top:360px;
    left:200px;
  }
  
  .box3 .box3-text {
    font-size:40px;  
    padding-top:60px;
    padding-bottom:30px;
    line-height:80px;
  }

  
  .box4 {
    /* background-color:red; */
    background-color:#ffebcd;
    width:100%;
    height:1300px;
    text-align:center;
    position:relative;
  }
  
  .box4 h2 {
    font-size:80px;
    padding-top:100px;
    padding-bottom:10px;
    margin:0px 70px;
    border-bottom:2px solid black;
  }

  
  .box4 p {
    font-size:40px;  
    padding-top:40px;
    padding-bottom:10px;
    line-height:80px;
  }

  .click {
    color:#f08080; 
    font-weight:bold;
  }

  
  .box4 img {
    width:280px;
    height:280px;
  }

  #cup {
    display:none;
    position:absolute;
    top:960px;
    left:630px;
    width:300px;
    height:300px;
    z-index:5;
  }


  
  footer {
    background-color:#ffa500;
    width:100%;
    height:700px;
  }
  
  footer img {
    float:left;
    margin:20px 30px;
    width:100px;
    height:100px;
  }
  
  .info p {
    margin:2px 15px;
    font-size:40px;
  }
  
  .info .name {
    font-size:80px;
    margin:0px 20px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  }
  