/* ↓ここから共通↓ */

body {
  margin: 0px;
  padding:0px;
  font-family: "ヒラギノ明朝";
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
 
}

.top-wrapper {
  height:420px;
  padding: 130px 0 200px 0;
  /* background-image: url(file:///Users/shunki/Desktop/MyPortforio/ホームページ写真/01.jpg); */
  background-image: url(file:/01.JPG);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  font-size: 180px;
  
}

header {
  background-color:#800000;
  height:50px;
  padding-top:0px;
  margin:0px;
  color:white;

}

/* リンクの文字白に */
header a {
  color:white;
}


/* ヘッダー上の空白削除 */
ul {
  margin:0px;
}

li {
  list-style:none;
  float:left;
  font-size:30px; 
  padding:0px 20px;
  padding-top:2px;
}


/* ↑ここまで共通↑ */

/* ↓タイトル、文章、写真2つ横並び(divの箱2つ横並び)↓ */

.second-wrapper {
  height:600px;
  background-color:white;
}

/* 文字を中央に配置 */
.second-wrapper h1 {
  text-align:center;
}

.second-wrapper p {
  text-align:center;
}



.image-left {
  float:left;
  width:720px;
  height:405px;
  background-color:red;
  background-image: url(file:///Users/shunki/Desktop/MyPortforio/ホームページ写真/02.jpg);
  background-size: cover;
}

.image-right {
  float:left;
  width:720px;
  height:405px;
  background-color:blue;
  background-image: url(file:///Users/shunki/Desktop/MyPortforio/ホームページ写真/03.jpg);
  background-size: cover;
}

/* ↑タイトル、文章、写真↑ */

/* ↓タイトル、写真4つ横並び、文章↓ */

.third-wrapper h1{
  text-align:center;
}



.member {
  float:left;
  width:25%;
}

.member-icon img {
  width:360px;
  height:360px;
}

.member-icon {
  position:relative;
}

.member-icon p {
  position:absolute;
  top:320px;
  left:150px;
}

.third-wrapper p{
  text-align:center;
}

/* ↑タイトル、写真4つ横並び、文章↑ */

/* ↓タイトル、文章、文字、画像真ん中↓ */

.forth-wrapper h1{
  text-align:center;
}

.forth-wrapper p{
  text-align:center;
}

.forth-wrapper a {
  color:black;
}

.forth-wrapper img{
  width:180px;
  height:180px;
  position:absolute;
  top:160px;
  left:632px;

  
}

.forth-wrapper {
  /* フッターとの距離を調整 */
  height:450px;
  position:relative;
}

/* ↑タイトル、文章、文字、画像真ん中↑ */

/* ↓フッター↓ */

footer {
  background-color:#ffa500;
  height:370px;
  padding-top:0px;
  margin:0px;
  color:white;
}

footer img {
  display:inline-block;
  float:left;
  margin:20px 20px;
}

/* 潜り込みを解消 */
.info {
  clear:both;
}

.info p {
  margin:5px 15px;
}

.info .name {
  font-size:45px;
  margin:0px 20px;
}

.info a {
  color:white;
}

/* ↑フッター↑ */










